server:
  servlet:
    context-path: /
  port: 8080

spring:
  jackson:
    default-property-inclusion: non_null
  application:
    name: PManager
  datasource:
    url: jdbc:h2:mem:test
    driveClassName: org.h2.Driver
    username: sa
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
